.ContactMe-Container {
  background-color: $Terciary-Dark;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;

  text-align: center;
  vertical-align: center;
  height: 100vh;
  color: $Grey5;
  box-sizing: border-box;
  @include PaddingDesktop;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
  @include PaddingMobile;

  .ContactMe {
    @include Link-a-Scroll;
  }
  .ContactMe-Top {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
  }
  .Maindiv-ContactMeForum {
    position: relative;
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;

    align-items: center;
    .Primarydiv-ContactMeForum {
      position: absolute;
      width: 13em;
      aspect-ratio: 1/1.2;
      background-color: $Primary;
      transform: translate(10%) rotate(5deg);
    }

    .Secondarydiv-ContactMeForum {
      position: absolute;
      width: 13em;
      aspect-ratio: 1/1.2;
      background-color: $Secondary;
      transform: translate(-10%) rotate(-5deg);
    }
    .Terciarydiv-ContactMeForum {
      position: absolute;
      width: 13em;
      aspect-ratio: 1/1.2;
      background-color: $Terciary;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1.5em;
      box-sizing: border-box;

      input,
      textarea {
        background-color: $Terciary;
        width: 100%;
        border: none;
      }
      textarea {
      }
      .Input-Bottom-Sumit {
        background: $Triad-Gradient;
        color: $Grey5;
        border: none;
        text-decoration: none;
        text-align: center;
        border-radius: 40px;
        width: 100%;
        display: flex;
        gap: 1rem;
        transition: opacity ease-in-out 200ms;
        transition: transform ease-in-out 200ms;
        opacity: 0.9;
        justify-content: center;
        justify-self: flex-end;
      }
      .Input-Bottom-Sumit:hover {
        cursor: pointer;
        transition: opacity ease-in-out 200ms;
        transition: transform ease-in-out 200ms;
        transform: scale(1.1);
        opacity: 1;
      }
    }
  }
  .ContactMe-Bottom {
    height: 5%;
    align-items: flex-end;
  }
}
