.Navbar_Containter {
  display: flex;

  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(11, 39, 64, 1) 100%
  );
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  box-sizing: border-box;
  height: 15vh;
  z-index: 9;

  .Options-Navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: right;
    padding: 0px;
    @media (max-width: $Small) {
      display: none;
    }

    .span-Options-Navbar {
      margin-left: 1.25rem;
      color: $Grey6;
      font-weight: 600;
      cursor: pointer;
    }
    .span-Options-Navbar-a {
      position: relative;
    }
    a:after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 3px;
      bottom: 0;
      left: 0;
      background-color: $Grey5;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    a:hover {
      color: $Grey5;
    }
    a:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  .Menu-Options-Navbar-DropDown {
    display: none;
    color: $Grey6;
    align-items: center;
    position: relative;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .Menu-Options-Navbar-FaBars {
      width: 44px;
      height: 44px;
    }
    .Menu-Options-Navbar-DropDown-Menu {
      position: absolute;
      right: 0;
      top: calc(100% + 0.25rem);
      list-style: none;
      background-color: $Primary-Dark;
      border-radius: 0.25rem;
      padding: 0.75rem;
      box-shadow: 0 0 2px 5px rgba(0, 0, 0, 0.1);
      opacity: 0;
      pointer-events: none;
      transform: translateY(-10);
      transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
      //font-size: 2rem;
      width: max-content;

      li {
        padding: 0.5rem;
      }

      a {
        position: relative;
        width: auto;
      }

      a:hover {
        color: $Grey5;
      }
      a:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
      a:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: $Grey5;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
    }

    @media (max-width: $Small) {
      display: inline;
    }
  }

  .Logo-NavBar-img {
    width: 88px;
    height: 88px;
    opacity: 0.5;

    @media (max-width: $Small) {
      width: 66px;
      height: 66px;
    }
  }
}

.Menu-Options-Navbar-DropDown:focus {
  color: $Grey6;
  .Menu-Options-Navbar-DropDown-Menu {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
}
