            // COLORS//

// Core
$Primary:#4897E1;
$Primary-Dark:#1F4161;
$Primary-Gradient:linear-gradient(180deg, #4897E1 0%, #1F4161 100%);
$Secondary:#275B8B;
$Secondary-Dark:#3C4F61;
$Secondary-Gradinent:linear-gradient(180deg, #275B8B 0%, #3C4F61 100%);
$Terciary:#8EBBE6;
$Terciary-Dark:#0B2742;
$Terciary-Gradient:linear-gradient(180deg, #8EBBE6 0%, #0B2742 100%);

//Greys
$Grey1:#3D4348;
$Grey2:#626B74;
$Grey3:#919FAC;
$Grey4:#A4B3C1;
$Grey5:#D0E0EE;

// Triad
$Triad1:#E0655E;
$Triad2:#F75C8F;
$Triad-Gradient:linear-gradient(180deg, #E0655E 0%, #F75C8F 100%);



// Media Quaries

$VerySmall: 320px;
$Small:680px;
$Medium: 1200px;


//Mixings

@mixin PaddingMobile {
  @media (max-width:$Small) {
    padding:5vh 1rem 5vh 1rem;  
  }
}
@mixin PaddingDesktop {
  padding:5vh 2rem 5vh 2rem;
}


@mixin Link-a-Scroll {
  position:absolute;
  top:-20vh;
}

@mixin  Link-a-Icons ($Color){
  a:visited { 
    text-decoration: none; 
    color: $Color
  }
}